<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/staticFiles/main.css' />
    <script type="text/javascript" src="/staticFiles/main.js"></script>
</head>
<body>
<div class="container">
    <span id="displayedWord"></span>
    <div class="game">
        <img id="penduStepImg" src="https://cdn.discordapp.com/attachments/1054107916786995281/1085304467181805588/0.png" alt="penduStep">
        <div id="letters"> </div>
    </div>
    <span id="gameStatus"> </span>
    <div id="history"> WIN : <span id="win"> {{win}} </span> | LOSE : <span id="lose"> {{lose}} </span></div>
</div>
</body>
</html>